.container{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 3vh 0px;
    color: white;
    position: fixed;
    z-index: 1;
    background-color: black;
}
.navItems{
    margin: 0px 2vw;
    cursor: pointer;
    transition: 1s;
}
.navItems:hover{
    color: #FF5A15;
}
.btn{
    cursor: pointer;
    padding: 9px 16px;
    border-radius: 10px;
    border: 1px solid #FF5A15;
    background: none;
    color: #FF5A15;
    font-size: 18px;
    font-weight: lighter;
    transition: 1s;
}
.btn:hover{
    background-color: white;
}